<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Entreprise</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  -->
</head>

<body>

 
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

<a href="{{path('pres')}}" class="get-started-btn scrollto">Présentation</a>
      <a href="{{path('offre')}}" class="get-started-btn scrollto">Visualiser la liste des offres</a>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Programmer votre réussite</h3>
            <p>
             Nous vous proposons cette filière d’ingénierie des systèmes et réseaux informatiques 
             pour former des spécialistes en infrastructures et réseaux des ordinateurs 
             (postes de travail et serveur). Le développement des TIC s’accompagne d’une
              croissance extraordinaire des appareils interconnectés grâce à des serveurs 
              et réseaux locaux et étendus
              (internet, privé), ce qui crée une forte offre d’emploi pour ce domaine de compétence.
            </p>
            <div class="row">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                  L’insertion professionnelle est donc favoriséepar la forte croissance de
                  l’adoption du numériques, y compris dans les foyers. Les entreprises fournissantles 
                  ordinateurs et services de réseauxsont les plus prospères du mondeet recrutement des milliers 
                  de personnes(Microsoft, Apple, CISCO, HP, Samsung etc.).à 
                  tous les niveaux de compétences (techniciens, ingénieurs, Expert).              
              </div>
              <div class="col-md-6">
                <i class="bx bx-cube-alt"></i>
                <p>   A partir du BAC, le cursus démarre par la licence (BAC+3). 
                      Toutefois, un diplôme de 
                      BAC+2 être délivré au bout de 2 ans d’études (BTS/DTS).
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    
        Thanks you !!!
        
  

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>